* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --amarillo: #f1c40f;
  --beige-claro: #f5f0e6;
  --gris-oscuro: #121212;
  --blanco: #ecf0f1;
  --azul-boton: #2C3E50;
  --azul-letras-header: #09131d;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: var(--gris-oscuro);
  background-color: var(--beige-claro);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  transition: all 0.4s;
}

header {
  background-color: var(--blanco); /*buen azul oscuro#09131d*/
  padding: 15px 0;
  position:relative;
  top: 0;
  z-index: 5;
}

header .container {
  width: 80%;
  max-width: 1096px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 40px;
}

header nav ul {
  display: flex;
  gap: 15px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: var(--azul-letras-header);
  text-decoration: none;
  font-weight: 700;
  margin-left: 16px;
  transition: color 0.4s;
}

header nav ul li a:hover, .active {
  color: var(--amarillo);
}

#IniciarSesion {
  background-color: var(--azul-boton);
  border-radius: 4px;
  padding: 15px;
}



/*Foto de la Hero Section*/
.hero {
  background-image: linear-gradient(rgba(61, 79, 61, 0.6), rgba(0, 0, 0, 0.8)), url("Fotos/montevideo.jpg");
  height: 100%;
  display: flex;
}

.hero h1 {
  font-size: 96px;
}

.hero a{
  color: #121212;
  text-decoration: none;
  font-weight: 700;
}

#izq {
  padding: 20% 7%;
  width: 50%;
}

#der {
  width: 50%;
}




.burger-ico {
  display: none;
}

/*MEDIAQUERYS*/

/*Telefonos y Tablets, BURGER ICO*/
@media screen and (max-width: 950px) {





.burger-ico {
  color: var(--amarillo); 
  display: block; 
  cursor: pointer; 
  font-weight: 800; font-size: 20px; 
  background: var(--amarillo); 
  z-index: 9; transition: all .4s; 
  height: 40px; width: 40px; 
  display: grid; place-items: center; 
  border-radius: 50%; 
  padding: 0 1.5px 3px 1.5px;
} 
  .burger-active {transform: rotate(-90deg);}
  .shadow {transition: all .4s; background: rgba(0, 0, 0, 0);}
  .shadow-active {position: fixed; top: 0; height: 100%; width: 100%; background: rgba(0, 0, 0, 0); z-index: 7;}
  nav {position: fixed; right: -300px; width: 300px; background: #f1c40f; height: 100%; top: 0; transition: all .4s; z-index: 8;}
  nav ul {flex-direction: column; padding: 82px 22px;}
  nav ul li {padding: 12px 0; font-size: 22px; color: #fff;} nav ul li a {color: #fff;}
  .show-menu {transform: translateX(-300px);}
  .blur-effect::before {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    pointer-events: none; 
    z-index: 1;
}
}